{% extends 'myapp/base.html' %}
{% block title %} Reset Password{% endblock %}
{% block myhdg %} {% endblock %}
{% block body_block %}
    <section id="login" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h4>
                                <i class="fas fa-sign-in-alt"></i> Reset Password</h4>
                        </div>
                        <div class="card-body">
                             <form method="POST">
                             {% csrf_token %}
                                 <fieldset class ="form-group">
                                     {{ form}}
                                 </fieldset>
                                 <input type="submit" value="Request Reset Password" class="btn btn-secondary btn-block">
                             </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
{% endblock %}